<header class="page-header">
  <div class="page-header-container container">
    <nav class="header-page-nav">
      <a class="header-logo link" href="../index.html">
        <span class="header-span-simply">Simply</span>
        <span class="header-span-chocolate">Chocolate</span>
        <svg class="header-logo-icon" width="21" height="21">
          <use href="/img/icons.svg#chocolate-logo"></use>
        </svg>
      </a>
      <ul class="menu list header-menu-nav">
        <li class="header-menu-item">
          <a
            class="header-menu-link header-menu-link-active link current"
            href="#home"
            >Home</a
          >
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link link" href="#how-its-made-section"
            >How it&#8217;s made?</a
          >
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link link" href="#our-products-section"
            >Our products</a
          >
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link link" href="#top-sellers-section"
            >Top sellers</a
          >
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link link" href="#chocolate-is-loved-section"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>
    <ul class="header-social-list list">
      <li class="header-social-item">
        <a
          href="https://www.instagram.com/"
          class="header-social-list-link header-dark"
        >
          <svg class="header-social-link-icon" width="24" height="24">
            <use href="/img/icons.svg#insta"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          href="https://twitter.com/"
          class="header-social-list-link header-dark"
        >
          <svg class="header-social-link-icon" width="24" height="24">
            <use href="/img/icons.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
    <!-- <button type="button" class="header-mobile-menu-open" data-menu-open> -->
      <button data-modal="1" class="js-open-modal header-mobile-menu-open" type="button">
      <svg class="header-mobile-menu-open-icon" width="28" height="28">
        <use href="/img/icons.svg#burger-menu"></use>
      </svg>
    </button>
  </div>
  <!-- Mobile Menu -->

  <!-- <div class="header-mobile-menu" data-menu> -->
    <div data-modal="1" class="modal header-mobile-menu">
    <div class="container header-mobile-menu-cont">
      <!-- <button type="button" class="header-mobile-menu-close" data-menu-close> -->
        <button type="button" class="header-mobile-menu-close js-modal-close">

        <svg class="header-mobile-menu-close-icon" width="28" height="28">
          <use href="/img/icons.svg#simple-close-btn"></use>
        </svg>
      </button>

      <ul class="menu list mob-header-menu-nav">
        <li class="mob-header-menu-item">
          <a
            class="mob-header-menu-link mob-header-menu-link-active link current"
            href="#home"
            >Home</a
          >
        </li>
        <li class="mob-header-menu-item">
          <a
            class="mob-header-menu-link mob-header-menu-link-active link"
            href="#how-its-made-section"
            >How it&#8217;s made?</a
          >
        </li>
        <li class="mob-header-menu-item">
          <a
            class="mob-header-menu-link mob-header-menu-link-active link"
            href="#our-products-section"
            >Our products</a
          >
        </li>
        <li class="mob-header-menu-item">
          <a
            class="mob-header-menu-link mob-header-menu-link-active link"
            href="#top-sellers-section"
            >Top sellers</a
          >
        </li>
        <li class="mob-header-menu-item">
          <a
            class="mob-header-menu-link mob-header-menu-link-active link"
            href="#chocolate-is-loved-section"
            >Chocolate is loved</a
          >
        </li>
      </ul>

      <div class="mob-header-mob-cont-second">
        <ul class="mob-header-social-list list">
          <li class="mob-header-social-item">
            <a
              href="https://www.instagram.com/"
              class="mob-header-social-list-link"
            >
              <svg
                class="mob-header-social-link-icon header-light"
                width="20"
                height="20"
              >
                <use href="/img/icons.svg#insta"></use>
              </svg>
            </a>
          </li>
          <li class="mob-header-social-item">
            <a href="https://twitter.com/" class="mob-header-social-list-link">
              <svg
                class="mob-header-social-link-icon header-light"
                width="20"
                height="20"
              >
                <use href="/img/icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <script src="../js/burger-menu.js"></script>
</header>
