<main>
  <section class="container" id="#home">
    <div class="hero__bcg">
      <h1 class="visuality-hidden">Great chocolate</h1>
      <h2 class="hero__text">
        <span class="hero__firstword">Yourself</span> or a loved one to our
        finest ingredients for a moment of pure delight!
      </h2>
      <div class="hero__buttons">
        <button class="hero__button" type="button" data-modal-open>
          Buy now
        </button>

        <a class="hero__anchor" href="#h-i-m">How it’s made</a>

        <a class="hero__link" href="#footer">
          scroll down

          <svg class="hero__scroll-icon" width="28" height="16">
            <use
              href="/src/img/svg/symbol-defs.svg#icon-fi-rr-angle-small-left"
              width="28"
              height="16"
            ></use></svg
        ></a>
      </div>
    </div>
  </section>
</main>
