<div data-modal-id="5" class="modal subscribe-modal">
  <div class="subscribe-modal-picture">
    <button data-modal="5" class="subscribe-btn-close js-modal-close">
      <svg class="subscribe-btn-close-icon">
        <use href="/img/icons.svg#simple-close-btn"></use>
      </svg>
    </button>
  </div>
  <div class="subscribe-form">
    <h2 class="subscribe-form-title">
      Explore our <br />
      <span class="subscribe-orange-txt">new chocolate</span> first!
    </h2>

    <div class="email-window">
      <label>
        <input
          class="subscribe-email"
          type="email"
          name="subscribe-email"
          placeholder="Enter your email"
        />
      </label>
      <button
        data-modal="5"
        class="subscribe-submit-btn js-modal-close"
        type="submit"
      >
        Submit
      </button>
    </div>
  </div>
</div>
