<section id="our-products-section" class="product">
  <div class="product-container">
    <h2 class="product-title">
      Our <span class="product-title-text">pRODUCTS</span>
    </h2>
    <ul class="product-cards">
      <li class="product-card">
        <img
          class="product-images"
          srcset="
            ../img/product-images/orange.jpg 1x,
            ../img/product-images/orange_x2 2x;
          "
          src="../img/product-images/orange.jpg"
          alt="orange dark chocolate "
        />

        <div class="product-info">
          <h3 class="product-name">orange</h3>
          <p class="product-description">Dark chocolate</p>
          <button class="product-price">45 UAH</button>
        </div>
      </li>
      <li class="product-card hidden-card">
        <img
          class="product-images"
          srcset="
            ../img/product-images/appleCranberry.jpg   1x,
            ../../img/product-images/appleCranberry_x2
          "
          src="..//img/product-images/appleCranberry.jpg"
          alt="APPLE&CRANBERRY milk chocolate "
        />
        <div class="product-info">
          <h3 class="product-name">APPLE&CRANBERRY</h3>
          <p class="product-description">Milk chocolate</p>
          <button class="product-price">50 UAH</button>
        </div>
      </li>
      <li class="product-card hidden-card">
        <img
          class="product-images"
          srcset="../img/product-images/limeSea.jpg 1x"
          src="../img/product-images/limeSalt_x2.jpg"
          alt="limesea dark chocolate "
        />
        <div class="product-info">
          <h3 class="product-name">lime&sea salt</h3>
          <p class="product-description">Dark chocolate</p>
          <button class="product-price">66 UAH</button>
        </div>
      </li>

      <li class="product-card hidden-card">
        <img
          class="product-images"
          srcset="
            ../img/product-images/pineapple.jpg 1x,
            ../img/product-images/pineapple_x2
          "
          src="../img/product-images/pineapple.jpg"
          alt="pineapple dark chocolate "
        />

        <div class="product-info">
          <h3 class="product-name">pineapple</h3>
          <p class="product-description">Dark chocolate</p>
          <button class="product-price">54 UAH</button>
        </div>
      </li>

      <li class="product-card swiper-card">
        <img
          class="product-images"
          srcset="
            ../img/product-images/classicMilk.jpg    1x,
            ../img/product-images/classicMilk_x2.jpg 2x
          "
          src="../img/product-images/classicMilk.jpg"
          alt="classic milk chocolate "
        />
        <div class="product-info">
          <h3 class="product-name">Classic</h3>
          <p class="product-description">Milk chocolate</p>
          <button class="product-price">45 UAH</button>
        </div>
      </li>
      <li class="product-card swiper-card">
        <img
          class="product-images"
          srcset="
            ../img/product-images/honney.jpg    1x,
            ../img/product-images/honney_x2.jpg 2x
          "
          src="../img/product-images/honney.jpg"
          alt="honey milk chocolate "
        />
        <div class="product-info">
          <h3 class="product-name">honey</h3>
          <p class="product-description">Milk chocolate</p>
          <button class="product-price">50 UAH</button>
        </div>
      </li>
      <li class="product-card swiper-card">
        <img
          class="product-images"
          srcset="
            ../img/product-images/roatsedFruits.jpg    1x,
            ../img/product-images/roatsedFruits_x2.jpg 2x
          "
          src="../img/product-images/roatsedFruits.jpg"
          alt="roasted fruits dark chocolate "
        />
        <div class="product-info">
          <h3 class="product-name">Roasted fruits</h3>
          <p class="product-description">Dark chocolate</p>
          <button class="product-price">66 UAH</button>
        </div>
      </li>

      <li class="product-card swiper-card">
        <img
          class="product-images"
          srcset="
            ../img/product-images/classicWhite.jpg    1x,
            ../img/product-images/classicWhite_2x.jpg 2x
          "
          src="../img/product-images/classicWhite.jpg"
          alt="classic White chocolate "
        />
        <div class="product-info">
          <h3 class="product-name">Classic</h3>
          <p class="product-description">White chocolate</p>
          <button class="product-price">54 UAH</button>
        </div>
      </li>
    </ul>
  </div>
</section>
