<section class="product">
  <div class="product-container">
    <h2 class="product-title">
      Our <span class="product-title-text">pRODUCTS</span>
    </h2>
    <ul class="product-cards">
      <li class="product-card">
        <img
          class="product-images"
          src="../img/product-images/orange.jpg"
          alt="orange dark chocolate"
        />
        <div class="product-info">
          <h3 class="product-name">orange</h3>
          <p class="product-description">Dark chocolate</p>
          <button class="product-price">45 UAH</button>
        </div>
      </li>
      <li class="product-card hidden-card">
        <img
          class="product-images"
          src="../img/product-images/appleCranberry.jpg"
          alt="orange dark chocolate"
        />
        <div class="product-info">
          <h3 class="product-name">orange</h3>
          <p class="product-description">Dark chocolate</p>
          <button class="product-price">50 UAH</button>
        </div>
      </li>
      <li class="product-card hidden-card">
        <img
          class="product-images"
          src="../img/product-images/limeSea.jpg"
          alt="orange dark chocolate"
        />
        <div class="product-info">
          <h3 class="product-name">orange</h3>
          <p class="product-description">Dark chocolate</p>
          <button class="product-price">66 UAH</button>
        </div>
      </li>

      <li class="product-card hidden-card">
        <img
          class="product-images"
          src="../img/product-images/pineapple.jpg"
          alt="orange dark chocolate"
        />

        <div class="product-info">
          <h3 class="product-name">orange</h3>
          <p class="product-description">Dark chocolate</p>
          <button class="product-price">54 UAH</button>
        </div>
      </li>
    </ul>
  </div>
</section>
