<!-- ====POPUP BUY NOW THANK YOU======= -->

<body>
  <div class="popup-thanks is-open" popuporder>
    <button type="button" class="popup-close-btn" popup-close>
      <svg class="popup-close-icon">
        <use href="../img/icons.svg#simple-close-btn"></use>
      </svg>
    </button>
    <h3 class="popup-thanks-title">thank you!</h3>
    <p class="popup-thanks-text">
      We are glad that you ordered our chocolate and we are giving you a 20%
      discount on all our products.
    </p>
  </div>
  <!-- /====POPUP BUY NOW THANK YOU====== -->

  <!-- ====POPUP REVIEW THANK YOU====== -->

  <div class="popup-thanks is-open" popupfeedback>
    <button type="button" class="popup-close-btn" popup-close>
      <svg class="popup-close-icon">
        <use href="../img/icons.svg#simple-close-btn"></use>
      </svg>
    </button>
    <h3 class="popup-thanks-title">
      thank you <br />
      for your feedback!
    </h3>
    <p class="popup-thanks-text">We are so happy to hear from you!</p>
  </div>
</body>

<!-- /====POPUP REVIEW THANK YOU====== -->
