<section class="top-sell" id="top-sellers">
  <div class="container">
    <h2 class="top-sell-title"><span>TOP</span> SELLERS</h2>
    <ul class="top-sell-list">
      <li class="top-sell-list-item">
        <picture>
          <source
            srcset="
              ../img/top-sellers/top-sell-img1-mob.jpg    1x,
              ../img/top-sellers/top-sell-img1-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ../img/top-sellers/top-sell-img1-tab.jpg    1x,
              ../img/top-sellers/top-sell-img1-tab@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
          />
          <source
            srcset="
              ../img/top-sellers/top-sell-img1-desk.jpg    1x,
              ../img/top-sellers/top-sell-img1-desk@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            src="../img/top-sellers/top-sell-img1-mob.jpg"
            alt="chocolate, nuts,
          coffee beans"
          />
        </picture>
        <p class="top-sell-text-mob">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="top-sell-list-item">
        <picture>
          <source
            srcset="
              ../img/top-sellers/top-sell-img2-mob.jpg    1x,
              ../img/top-sellers/top-sell-img2-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ../img/top-sellers/top-sell-img2-tab.jpg    1x,
              ../img/top-sellers/top-sell-img2-tab@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
          />
          <source
            srcset="
              ../img/top-sellers/top-sell-img2-desk.jpg    1x,
              ../img/top-sellers/top-sell-img2-desk@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <img src="../img/top-sellers/top-sell-img2-mob.jpg" alt="chocolate" />
        </picture>
      </li>
      <li class="top-sell-list-item">
        <picture>
          <source
            srcset="
              ../img/top-sellers/top-sell-img3-desk.jpg    1x,
              ../img/top-sellers/top-sell-img3-desk@2x.jpg 2x
            "
          />
          <img
            src="../img/top-sellers/top-sell-img3-desk.jpg"
            alt="chocolate"
          />
        </picture>
      </li>
    </ul>
    <div class="top-sell-btn-wrap">
      <p class="top-sell-text">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button type="button" class="top-sell-btn">Buy now</button>
    </div>
  </div>
</section>

<!-- MODAL BUY NOW -->
<!-- <div class="modal-buy-now">
  <button class="modal-buy-now-close">
    <svg width="24" height="24">
      <use
        class="modal-buy-now-close-icon"
        href="./img/icons.svg#simple-close-btn"
      ></use>
    </svg>
  </button>
  <h2 class="modal-buy-now-title"><span>BUY</span> NOW</h2>
  <ul class="modal-buy-now-list">
    <li class="modal-buy-now-list-item">
      <picture>
        <source
          srcset="
            ../img/top-sellers/modal-buy-now-img1-mob.png    1x,
            ../img/top-sellers/modal-buy-now-img1-mob@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ../img/top-sellers/modal-buy-now-img1.png    1x,
            ../img/top-sellers/modal-buy-now-img1@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img
          src="../img/top-sellers/modal-buy-now-img1-mob.png"
          alt="chocolate"
        />
      </picture>
      <p class="modal-buy-now-list-item-desc">100 g</p>
    </li>
    <li class="modal-buy-now-list-item">
      <picture>
        <source
          srcset="
            ../img/top-sellers/modal-buy-now-img2-mob.png    1x,
            ../img/top-sellers/modal-buy-now-img2-mob@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ../img/top-sellers/modal-buy-now-img2.png    1x,
            ../img/top-sellers/modal-buy-now-img2@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img
          src="../img/top-sellers/modal-buy-now-img2-mob.png"
          alt="chocolate"
        />
      </picture>
      <p class="modal-buy-now-list-item-desc">200 g</p>
    </li>
    <li class="modal-buy-now-list-item">
      <picture>
        <source
          srcset="
            ../img/top-sellers/modal-buy-now-img3-mob.png    1x,
            ../img/top-sellers/modal-buy-now-img3-mob@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ../img/top-sellers/modal-buy-now-img3.png    1x,
            ../img/top-sellers/modal-buy-now-img3@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img
          src="../img/top-sellers/modal-buy-now-img3-mob.png"
          alt="chocolate"
        />
      </picture>
      <p class="modal-buy-now-list-item-desc">300 g</p>
    </li>
  </ul>
  <form>
    <label class="modal-buy-now-form-label">
      <p>Personal information</p>
      <div class="modal-buy-now-input-name-wrap">
        <input
          type="text"
          name="name"
          pattern="[A-Za-z]{1,255}"
          placeholder="Name"
          autofocus
        />
        <input
          type="text"
          name="surname"
          pattern="[A-Za-z]{1,255}"
          placeholder="Surname"
          autofocus
        />
      </div>
    </label>
    <label class="modal-buy-now-form-label">
      <p>Email</p>
      <input
        type="email"
        name="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        placeholder="Enter your email"
      />
    </label>
    <label class="modal-buy-now-form-label">
      <p>Phone number</p>
      <div class="modal-buy-now-input-wrap">
        <input
          type="tel"
          name="phone"
          pattern="[0-9]{9}"
          placeholder="Phone number"
        />
        <svg class="svg-ua" width="24" height="24">
          <use href="./img/icons.svg#ukraine"></use>
        </svg>
        <p class="ua-code">+380</p>
      </div>
    </label>
    <label class="modal-buy-now-form-label">
      <p>Card number</p>
      <div class="modal-buy-now-input-wrap">
        <input
          type="number"
          name="card"
          pattern="[0-9]{16}"
          placeholder="Enter card"
        />
        <svg class="svg-mastercard" width="32" height="21">
          <use href="./img/icons.svg#mastercard"></use>
        </svg>
      </div>
    </label>
    <label class="modal-buy-now-form-label">
      <p>Comment</p>
      <textarea name="comment" placeholder="Enter text"></textarea>
    </label>
    <button class="modal-buy-now-form-submit" type="submit">Submit</button>
  </form>
</div> -->
