<section class="top-sell">
  <div class="container">
    <h2 class="top-sell-title"><span>TOP</span> SELLERS</h2>
    <ul class="top-sell-list">
      <li class="top-sell-list-item">
        <picture>
          <source
            srcset="
              /img/top-sellers/top-sell-img1-mob.jpg    1x,
              /img/top-sellers/top-sell-img1-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /img/top-sellers/top-sell-img1-tab.jpg    1x,
              /img/top-sellers/top-sell-img1-tab@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
          />
          <source
            srcset="
              /img/top-sellers/top-sell-img1-desk.jpg    1x,
              /img/top-sellers/top-sell-img1-desk@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            src="/img/top-sellers/top-sell-img1-mob.jpg"
            alt="chocolate, nuts,
          coffee beans"
          />
        </picture>
        <p class="top-sell-text-mob">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="top-sell-list-item">
        <picture>
          <source
            srcset="
              /img/top-sellers/top-sell-img2-mob.jpg    1x,
              /img/top-sellers/top-sell-img2-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /img/top-sellers/top-sell-img2-tab.jpg    1x,
              /img/top-sellers/top-sell-img2-tab@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
          />
          <source
            srcset="
              /img/top-sellers/top-sell-img2-desk.jpg    1x,
              /img/top-sellers/top-sell-img2-desk@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <img src="/img/top-sellers/top-sell-img2-mob.jpg" alt="chocolate" />
        </picture>
      </li>
      <li class="top-sell-list-item">
        <picture>
          <source
            srcset="
              /img/top-sellers/top-sell-img3-desk.jpg    1x,
              /img/top-sellers/top-sell-img3-desk@2x.jpg 2x
            "
          />
          <img src="/img/top-sellers/top-sell-img3-desk.jpg" alt="chocolate" />
        </picture>
      </li>
    </ul>
    <div class="top-sell-btn-wrap">
      <p class="top-sell-text">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button type="button" class="top-sell-btn">Buy now</button>
    </div>
  </div>
</section>
