<section class="unique-components">
    <div class="container">
        <h1 class="unique-title">IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="unique-title-orange">TASTE</span>
            SENSATION
        </h1>
        <p class="unique-after-title after-title-wrapper">At Simply Chocolate, we believe that the secret to exceptional
            chocolate is in the details. From the sourcing of the
            finest ingredients to the careful crafting of each individual piece, every step of our process adds up to
            one exceptional taste sensation.</p>
        <ul class="unique-list list">
            <li class="unique-list-item item-1">
                <picture>
                    <source
                        srcset="/img/unique-components/chocolate-desktop.png 1x, /img/unique-components/chocolate-desktop2x.png 2x"
                        media="(min-width: 1200px)" />
                    <source
                        srcset="/img/unique-components/chocolate-mobile.png 1x, /img/unique-components/chocolate-mobile2x.png 2x"
                        media="(min-width: 320px)" />

                    <img class="unique-list-img" src="/img/unique-components/chocolate-mobile.png" alt="chocolate"
                        width="224">
                </picture>
                <p class="unique-after-wraper">MILK CHOKOLATE</p>
            </li>



            <li class="unique-list-item item-2">
                <picture>
                    <source
                        srcset="/img/unique-components/milk-desktop.png 1x, /img/unique-components/milk-desktop2x.png 2x"
                        media="(min-width: 1200px)" />
                    <source
                        srcset="/img/unique-components/milk-mobile.png 1x, /img/unique-components/milk-mobile2x.png 2x"
                        media="(min-width: 320px)" />

                    <img class="unique-list-img" src="/img/unique-components/milk-mobile.png" alt="milk" width="224">
                </picture>
                <p class="unique-after-wraper second-color">MILK</p>
            </li>


            <li class="unique-list-item item-3">
                <picture>
                    <source
                        srcset="/img/unique-components/nuts-desktop.png 1x, /img/unique-components/nuts-desktop2x.png 2x"
                        media="(min-width: 1200px)" />
                    <source
                        srcset="/img/unique-components/nuts-mobile.png 1x, /img/unique-components/nuts-mobile2x.png 2x"
                        media="(min-width: 320px)" />

                    <img class="unique-list-img" src="/img/unique-components/nuts-mobile.png" alt="nuts" width="224">

                </picture>
                <p class="unique-after-wraper">NUTS</p>
            </li>


            <li class="unique-list-item item-4">
                <picture>
                    <source
                        srcset="/img/unique-components/coffe-desktop.png 1x, /img/unique-components/coffe-desktop2x.png 2x"
                        media="(min-width: 1200px)" />
                    <source
                        srcset="/img/unique-components/coffe-mobile.png 1x, /img/unique-components/coffe-mobile2x.png 2x"
                        media="(min-width: 320px)" />

                    <img class="unique-list-img" src="/img/unique-components/coffe-mobile.png" alt="coffee" width="224">
                </picture>
                <p class="unique-after-wraper second-color">SEMI-SWEET CHOCOLATE</p>
            </li>
        </ul>
    </div>

</section>