:root {
  --dark-background-color: #1e1823;
  --light-background-color: #e2e2e2;
  --primary-text-color: #111111;
  --contrast-color: #fd9222;
  --primary-hover-color: #fcf1e0;
  --primary-white-color: #ffffff;
  --secondary-white-color: #fafafa;
  --dark-white: rgba(255, 255, 255, 0.7);
  --transition-timing: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
  background-color: var(--secondary-white-color);

}

h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.container {
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .advantages-list {
    width: 700px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }

}

