/* Стили для модальных окон */

.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;

  /*  Установаем ширину окна  */
  /* width: 100%; */
  /* max-width: 311px; */

  /*  Центрируем и задаем z-index */
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;

  /* Должен быть выше чем у подложки*/

  /*  Побочные стили   */
  /* box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 30px;
    border-radius: 3px;
    background-color: #fff;
    transition: 0.3s all; */
}

/* ----------------------------- TABLET ------------------------------- */
/* @media screen and (min-width: 768px) {
    .modal {
        max-width: 609px;
    }
} */
