/* reviews */
.reviews {
  background-color: var(--secondary-white-color);
  color: var(--primary-text-color);
  padding-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .reviews {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 768px) {
  .reviews {
    padding-bottom: 128px;
  }
}

.reviews-title {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .reviews-title {
    font-size: 24px;
    line-height: calc(28px / 24px);
    margin-bottom: 50px;
  }
}

.swiper-slide {
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
  text-align: center;
  position: relative;
  padding: 56px 18px 0px 18px;
  min-height: 200px;
}

@media screen and (min-width: 768px) {
  .swiper-slide {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 344px;
  }
}

@media screen and (min-width: 1200px) {
  .swiper-slide {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 360px;
  }
}

.reviews-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 24px;
}

.reviews-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: rgba(17, 17, 17, 0.7);
}

.reviews-btn {
  margin: 0 auto;
  display: block;
  padding: 12px 28px;
  border: 1px solid var(--contrast-color);
  border-radius: 100px;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: var(--primary-text-color);
  transition: color var(--transition-timing) var(--transition-function),
    background-color var(--transition-timing) var(--transition-function);
}

@media screen and (min-width: 768px) {
  .reviews-btn {
    padding: 14px 40px;
    font-size: 18px;
    line-height: calc(22px / 18px);
  }
}

.reviews-btn:hover,
.reviews-btn:focus {
  background-color: var(--contrast-color);
  color: var(--primary-white-color);
  transition: color var(--transition-timing) var(--transition-function),
    background-color var(--transition-timing) var(--transition-function);
}

.reviews-img {
  position: absolute;
  top: -42px;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-wrapper {
  display: flex;
  margin-bottom: 32px;
  padding-top: 42px;
}

@media screen and (min-width: 768px) {
  .swiper-wrapper {
    gap: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .swiper-wrapper {
    gap: 28px;
  }
}

.reviews-title-word {
  color: var(--contrast-color);
}

/* slider */
.swiper-pagination {
  position: static;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .swiper-pagination {
    margin-bottom: 50px;
  }
}

.swiper-pagination-bullet {
  background: rgba(17, 17, 17, 0.1);
  width: 13px;
  height: 13px;
  transition: width var(--transition-timing) var(--transition-function),
    border-radius var(--transition-timing) var(--transition-function);
}

.swiper-pagination-bullet-active {
  background-color: var(--contrast-color);
  width: 28px;
  border-radius: 8px;
}

/* -------------------MODAL LEAVE REVIEW------------------- */

.modal-leave-review-container {
  position: relative;
  max-width: 311px;
  max-height: 471px;
  background-color: #ffffff;
  padding: 24px 32px;
}

.modal-leave-review-close-btn {
  border-radius: 50%;
  background-color: transparent;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-leave-review-close-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 14px;
  right: 14px;
  fill: black;
  stroke: black;
}

.modal-leave-review-header {
  width: 252px;
  margin-bottom: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: left;
  color: var(--primary-text-color);
}

.modal-leave-review-header span {
  color: var(--contrast-color);
}

.modal-leave-review-input {
  width: 263px;
  height: 45px;
  margin-bottom: 14px;
  padding-left: 18px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
}

.modal-leave-review-input-phone {
  padding-left: 106px;
}

.modal-leave-review-comment {
  margin-bottom: 18px;
}

.modal-leave-review-field input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;

  color: rgba(64, 64, 64, 0.3);
  padding-left: 14px;
}

.modal-leave-review-wrap {
  position: relative;
}

.modal-leave-review-icon {
  position: absolute;
  top: 14px;
  left: 18px;
}

.modal-leave-review-phone-code {
  position: absolute;
  left: 50px;
  top: 14px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.modal-leave-review-phone-code::after {
  content: '';

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  margin-left: 8px;

  display: inline-block;
  width: 1.5px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.1);
}

.modal-leave-review-btn {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  min-width: 93px;
  padding: 12px 28px;
  color: var(--primary-white-color);
  background-color: var(--contrast-color);
  border-radius: 100px;
}

/* ----------- TABLET ----------- */
@media screen and (min-width: 768px) {
  .modal-leave-review-container {
    max-width: 517px;
    max-height: 631px;
    padding: 40px;
  }

  .modal-leave-review-btn {
    min-width: 117px;
    padding: 14px 40px;
  }

  .modal-leave-review-input {
    width: 437px;
    margin-bottom: 19px;
  }
}