.unique-components {
    background-color: var(--light-background-color);
    padding-top: 72px;
}
.unique-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.unique-title-orange {
    color: var(--contrast-color);
}

.unique-after-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
}


.unique-list-item:not(:last-child) {
    margin-bottom: 20px;}

.unique-list-item:nth-child(2n + 2) {
    background-color: var(--primary-white-color);
}
.unique-list-item:nth-last-child(2) {
    background-color: var(--dark-background-color);
}

.unique-list-item {
    background-color: var(--contrast-color);
    border: 1px solid var(--contrast-color);
    border-radius: 15px;

}

.unique-list-img {
margin: 0 auto;
padding-top: 28px;
padding-bottom: 25px;
}


.unique-after-wraper {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    padding-left: 28px;
    padding-bottom: 28px;
    color: var(--primary-white-color);
}
.second-color {
    color: var(--primary-text-color);
}


/* !!!!!!!!!!!!!!!!!!                 FLIP-CARD        !!!!!!!!!!!!!!!!!!!!! */


/* !!!!!!!!!!!!!!!!!!!!            TABLET        !!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media screen and (min-width: 768px) {
    .unique-components {
        padding-top: 100px;
    }

    .unique-title {

        font-size: 24px;
        line-height: 1.16;
        margin-bottom: 28px;
    }

    .unique-after-title {
        margin-bottom: 50px;
    }

    .unique-list .unique-list-item {
        margin-bottom: 0;
            width: calc((100% - 32px) / 2);
    }
    .unique-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px 32px;
    }

}







@media screen and (min-width: 1200px) {
    .unique-components {
        padding-top: 128px;
        }

    .unique-list {
            flex-wrap: nowrap;
        }
    
    .unique-list {
        gap:19px;
    }
}



